<!--The content below is only a placeholder and can be replaced.-->
<div class="container-wrapper">
  <h1 class="text-center heading-custom">Airmes</h1>
    <div class="container-fluid">
      <indicators-section></indicators-section>
      <charts-section></charts-section>
    </div>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted text-center"><a href="https://github.com/MFirefly/Airmes">Airmes</a> is maintained by <a href="https://www.linkedin.com/in/majafilakovic">Maja Filakovic</a>.</p>
  </div>
</footer>

