<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2">
        <div class="card mb-3">
            <indicator-section [heading]="desc.temperatureIndicator.heading">
                <temperature-indicator></temperature-indicator>
            </indicator-section>
        </div>
    </div>
    <div class="col-lg-4"></div>
    <div class="col-lg-2">
        <div class="card mb-3">
            <indicator-section [heading]="desc.humidityIndicator.heading">
                <humidity-indicator></humidity-indicator>
            </indicator-section>
        </div>
    </div>
</div>