  <div class="card-body">
    <canvas baseChart width="400" height="100"
                [datasets]="tempChartData"
                [labels]="tempChartLabels"
                [options]="tempChartOptions"
                [colors]="tempChartColors"
                [legend]="tempChartLegend"
                [chartType]="tempChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
  </div>
  <!--<div class="col-md-6" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of tempChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of tempChartData">
        <td *ngFor="let label of tempChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
    <button (click)="randomize()">CLICK</button>
  </div>-->
